<h1>Campeonato Xyz</h1>

<div>
    
    <form #myClub="ngForm" (submit)="saveClub(myClub)">
        <div>
        <label >Nome:</label>
        <input type="text" name="name" [(ngModel)]="newTimes.nome">
    </div>

    <div>
        <label>Pontuação:</label>
        <input type="text" name="pontuacao" [(ngModel)]="newTimes.pontuacao">
        <input type="submit" value="save">
    </div>
    </form>
</div>

<div *ngFor=" let newTimes of timesList">
    
    <h1>Classificação</h1>

    <table id ="separateTable">
        <tr>
        <th rowspan="2">Classificação</th>
        <th  rowspan="2">Time</th>
        <th  rowspan="2">Pontuação</th>
        </tr>

        <td></td>
        <td rowspan="2">{{newTimes.nome}}</td>
        <td rowspan="2">{{newTimes.pontuacao}}</td>

    </table>

</div>